@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Akzidenz;
    font-weight: 700;
    font-style: normal;
    src: url('/fonts/akzidenz/AkzidenzGroteskPro-BoldEx.otf') format('opentype');
  }

  @font-face {
    font-family: Akzidenz;
    font-weight: 500;
    font-style: normal;
    src: url('/fonts/akzidenz/AkzidenzGroteskPro-Md.otf') format('opentype');
  }

  @font-face {
    font-family: Akzidenz;
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/akzidenz/AkzidenzGroteskPro-Regular.otf')
      format('opentype');
  }

  html {
    font-family: Akzidenz, sistem-ui, sans-serif;
  }
}

@layer components {
  #app {
    @apply h-screen flex flex-col justify-center items-center dark:text-white dark:bg-zinc-800;
  }
  .logo {
    @apply text-2xl sm:text-4xl md:text-5xl font-bold;
  }
  .button-primary {
    @apply bg-slate-200 dark:bg-indigo-500 dark:hover:bg-indigo-600 rounded-md font-medium px-5 py-2 hover:bg-slate-300;
  }
  .letter {
    @apply mx-2 text-3xl font-medium;
  }
}
